.Container {
    margin: 60px 30px;

    p {
        font-size: 1rem !important;
        font-weight: light !important;
    }

    button {
        height: 200px;
    }

    .image-1 {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        width: 25%;
        height: 200px;
        clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
        overflow: hidden;
        background-image: url(../../assets/img/Service/Complect.jpg);
        background-size: cover;
        background-position: center bottom 30%;
    }

    .image-2 {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        width: 25%;
        height: 200px;
        clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
        overflow: hidden;
        background-image: url(../../assets/img/Service/Coach.jpg);
        background-size: cover;
        background-position: center bottom 40%;
    }


    .accordion-item {
        border-radius: 20px !important;
        margin-bottom: 40px;
        box-shadow: 0 4px 10px rgba($color: #000, $alpha: .5);

        .accordion-button {
            border-radius: 20px !important;

            &:focus {
                border-radius: 20px;
            }

            &:not(.collapsed) {
                box-shadow: none;
                background-color: #fff !important;
            }
        }
    }

    .Element {
        display: flex;
        padding: 1rem 1.2rem;
        justify-content: space-between;
        align-items: center;
        border-radius: 20px;
        margin-bottom: 40px;
        box-shadow: 0 4px 10px rgba($color: #000, $alpha: .5);

        .count {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 20px;

            .time {
                display: flex;
                align-items: center;
                gap: 20px;

                button {
                    text-align: center;
                    border-radius: 50% !important;
                    width: 40px;
                    height: 40px;
                    font-size: 1rem;
                }
            }
        }

        button {
            padding: 0;
            border-radius: 50%;
            width: 60px;
            height: 60px;
            font-weight: bold;
            font-size: 2rem;
        }
    }
}